<div>
    <div>
        <div>เลขที่สัญญา : {{aa}}</div>
        <div>ชื่อ : {{aa}}</div>
        <div>นามสกุล :{{aa}}</div>
        <div>สาขา :{{aa}}</div>
        <div>ยี่ห้อ :{{aa}}</div>
        <div>รุ่น :{{aa}}</div>
        <div>สี :{{aa}}</div>
        <div>ซีซี :{{aa}}</div>
        <div>เลขทะเบียน :{{aa}}</div>
        <div>สถานะเล่มทะเบียน :{{aa}}</div>
    </div>

    <div>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="กรอกเลขทะเบียน">
                <div>
                    <label>เลขทะเบียน</label>
                    <input>
                </div>
                <div>
                    <label>ทะเบียนจังหวัด</label>
                    <input>
                </div>
                <div>
                    <label>วันที่จดทะเบียน</label>
                    <input>
                </div>
                <div>
                    <label>วันที่หมดอายุทะเบียน</label>
                    <input>
                </div>
                <div>
                    <label>เลขทะเบียนสาธารณะ</label>
                    <input>
                </div>
                <div>
                    <label>วันที่เปลี่ยนทะเบียนสาธารณะ</label>
                    <input>
                </div>
                <div>
                    <label>หมายเลขห้องเล่ม</label>
                    <input>
                </div>
                <div>
                    <label>หมายเลขตู้</label>
                    <input>
                </div>
                <div>
                    <label>หมายเลขลิ้นชัก</label>
                    <input>
                </div>
                <div>
                    <label>หมายเลขช่องในลิ้นชัก</label>
                    <input>
                </div>

                <button mat-raised-button color="primary">บันทึก</button>

            </mat-tab>
            <mat-tab label="เบิกเล่มทะเบียน">

            </mat-tab>
          </mat-tab-group>
    </div>
</div>