<div *ngIf="Global.IsPermission=='N'">
    <div style="display: block;margin-left: auto;margin-right: auto;width: 600px;height: 600px; margin-top: 150px;background-color: #fa9595;">
        <div style="height: 200px;">

        </div>
        <div style="text-align: center;" >
            <div style="font-size: 50px;color: #ffffff;">คุณไม่มีสิทธิเข้าถึง</div>
        </div>     
        <div style="text-align: center;">
            <div style="font-size: 20px;color: #ffffff;margin-top: 50px;">กรุณาขอสิทธิ์เข้าใชเมนูนี้</div>
        </div>
    </div>
</div>